html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #1BCA9B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root{
  width: 100%;
  height: fit-content;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.card{
  border: none !important;
}
.box{
  background-color: #EAF0F1;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
  border-radius: 5px;
}
.icon{
  font-size:35px;
}
@media only screen and (max-width:550px){
 .my-5 h1{
   font-size: 30px;
 }
}